{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "valid-typeof": "error",
    "semi": "error"
  }
}
